[submodule "boilerplate"]
	path = boilerplate
	url = https://github.com/choi1five/nettee-sample.git
	branch = main
[submodule "sample"]
	path = sample
	url = https://github.com/choi1five/nettee-sample.git
	branch = main
