[submodule "boilerplate"]
	path = boilerplate
	url = https://github.com/choi1five/nettee-sample.git
	branch = main
[submodule "sample"]
	path = sample
	url = https://github.com/choi1five/nettee-sample.git
	branch = feature/sample
[submodule "김정아"]
	path = 김정아
	url = https://github.com/rmkim7/submodule-sample.git
[submodule "나선오"]
	path = 나선오
	url = https://github.com/Seono-Na/frontend-sample.git
